/*All*/
*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

  }
body{
    height: 100vh;
    display: flex;
    background: #f0f4ff;
    justify-content: center;
    align-items: center;
}
.title{
  margin-top: 5vh;
  margin-bottom: 10vh;
}
#menu{
    background: #1e2b58;
    position:fixed;
    width: 5vw;
    height: 100vh;
    left: 0px;
    z-index: 10;
}
  /*button of input 
  make it looks like a plus button*/
  #myBtn{
    background: #3674ff;
    color: white;
    border:0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 100%;
  }
  /* if hover the button will looks more turely*/
  #myBtn:hover{
    background: rgba(54, 166, 255, 0.2);
    transition: 1s ease;
    cursor: pointer;
  }
  /*button of submit */
  #submitBtn{
    background: #3674ff;
    color: white;
    border:0px;
    font-size: 1vw;
    padding: 2px 5px;
    border-radius: 10%;
  }
   /* if hover the button will looks more turely*/
  #submitBtn:hover{
    background: rgba(54, 166, 255, 0.2);
    transition: 0.5s ease;
    cursor: pointer;
  }
  /*the input list and make sure it is over all layers*/
  #cent{
    border:10px solid #999;
    position:fixed;
    background: #f0f4ff;
      top:5vh;
      right:10vw;
    margin: 10% 25%;
    padding: 5%;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-items: center;  
    z-index:5; 
  /*hidden if not Press add button*/
    visibility: hidden;  
  }
  /*visible if Press add button*/
  #cent.addBtn{
    visibility: visible;
  }
  /*myBtn position Fixedly*/
  #myBtn{
    position:fixed;
      top:10vh;
      left:20vw;
  }
  #taskList{
    position:fixed;
    top:20vh;
    left:20vw;  
  }
  /*li is the the relative position of data*/
  li{
    float:left;
    list-style:none;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 0px;
    border-radius: 15px;
    position: relative;
    height: 130px;
    width: 30vw;
    color: black;
  }
  /*others are absolute with li*/
  taskName{
    position:absolute;
    top: 3%;
    left: 3%;   
    font-size: 20px;
    font-weight: bolder;
  }
  taskDueDate{
    position:absolute;
    top: 3%;
    right: 3%;
    font-size: 20px;
    font-weight: bolder;
  }
  taskWeight{
    position:absolute;
    top: 3%;
    left: 40%;
    font-size: 20px;
    font-weight: bolder;
  }
  taskDays{
    position:absolute;
    top: 30%;
    left: 3%;
    font-size: 20px;
  }
  taskTime{
    position:absolute;
    top: 50%;
    left: 3%;
    font-size: 20px;
  }
  delbtn{
    position:absolute;
    top: 80%;
    left: 45%;
    font-size: 20px;
  }
  /*button of submit */
  delBtn{
    background: #3674ff;
    color: white;
    border:0px;
    font-size: 1vw;
    padding: 2px 5px;
    border-radius: 10%;
  }
  delBtn:hover{
    background: rgba(54, 166, 255, 0.2);
    transition: 1s ease;
    cursor: pointer;
  }
  #linkform{
    position:absolute;
    top:80%;
  }
/*Adaptation when screen on phone*/
@media  (max-width: 450px) {
  #menu{
    width: 20vw;
  }  
  li{
      width: 60vw;
    }
    taskName{
    position:absolute;
    top: 3%;
    left: 3%;   
    font-size: 15px;
    font-weight: bolder;
  }
  taskDueDate{
    position:absolute;
    top: 3%;
    right: 3%;
    font-size: 15px;
    font-weight: bolder;
  }
  taskWeight{
    position:absolute;
    top: 20%;
    left: 3%;
    font-size: 10px;
    font-weight: bolder;
  }
  taskDays{
    position:absolute;
    top: 40%;
    left: 3%;
    font-size: 10px;
  }
  taskTime{
    position:absolute;
    top: 60%;
    left: 3%;
    font-size: 10px;
  }
  #linkform{
    position:absolute;
    left: 25%;
    top:80%;
  }
  }